
    <div class="about" id="about">
  		<div class="about-two-grids">
  			<h3 class="title">About us</h3>

  	<div class="container">

  	<div class="col-md-6 w3_abl">
  	<h3>What We Are</h3>
  	<h5>We are the marketes of healthy and organic foods, we are the helpers to the farmers</h5>
  	<p></p>
  	</div>
  	<div class="col-md-6 w3_abl">
  	<h3>What We Do</h3>
  	<h5>We are improve general peoples health and we are giving good healthy higinic vegitables and herbal products and antique foods all are in one store</h5>
  	<p> </p>
  	</div>
  	<div class="col-md-6 w3_abl">
  	<h3>Mission</h3>
  	<h5>Delivering only healthy and higine products</h5>
    </div>
    <div class="col-md-6 w3_abl">
    <h3>Vision</h3>
    <h5 style=" text-align:center;";>Healthy life for all people</h5>
    </div>
  	<!-- <div class="col-md=6 w3l_abtr">

  	<div class="wthree_rm">
  	</div>
  	</div>
  	</div>
  	<div class="col-md-6 w3_abl">
  	<h3>Vision</h3>
  	<h5>Healthy life for all</h5>
  	<div class="col-md-6 w3l_abl">
  	<img src="images/abt2.jpg" class="img-responsive">
  	</div>
  	<div class="col-md=6 w3l_abtr">
  	<p></p>
  	<div class="wthree_rm">
  	</div>
  	</div>
  	</div> -->
  	</div>
  	</div>
  </div>
  </div>
