  <div class="form-group">
    <label>Vegetable name</label>
    <input type="text" class="form-control" placeholder="vegetableName" id="vege_name">
  </div>
  <div class="form-group">
    <label>Weight</label>
    <input type="text" class="form-control" placeholder="weight" id="weight">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" placeholder="price" id="price">
  </div>
  <button class="btn btn-danger" onclick='addVeg()'>Add</button>
