<form method="post" action="/farmer/register">
  <div class="form-group">
    <label>Vegetable name</label>
    <input type="text" class="form-control" placeholder="vegetableName" name="vege_name">
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input type="text" class="form-control" placeholder="amount"name="amount">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="email" class="form-control" placeholder="price" name="price">
  </div>
  <button type="submit"class="btn btn-default">submit</button>
</form>
