<div id="gallery" class="gallery">
  <div class="container">
    <h3 class="title">Gallery</h3>
    <div class="gallery-info">
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
        <a href="images/g1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g1.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
        <a href="images/g2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g2.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
        <a href="images/g3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g3.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g4.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
        <a href="images/g5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g5.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g6.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g7.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <br>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g8.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g9.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g9.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
        <a href="images/g10.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g10.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
        <a href="images/g11.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g11.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
        <a href="images/g12.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g12.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g13.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g13.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g14.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g14.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
        <a href="images/g15.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g15.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g16.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g16.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g17.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g17.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
        <a href="images/g18.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
        <img src="images/g18.jpg" alt="" class="img-responsive zoom-img">
      </a>
      </div>
    </div>
  </div>
</div>
</div>
