
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <div class="slider-img">
            <div class="container">
              <div class="slider-info">
                <h4>We sell organic vegetables </h4>

              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="slider-img ">
            <div class="container">
              <div class="slider-info">
                <h4>We sell traditional Food  </h4>

              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="slider-img">
            <div class="container">
              <div class="slider-info">
                <h4>We sell ayurvedic herbs </h4>

              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="column">
      <div class="card">
        <div>
        </div>
        <h3>Organic vegetables</h3>
        <p></p>
        <p></p>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Traditional foods</h3>
      <p></p>
      <p></p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h3>Ayurvedic herbs</h3>
    </div>
  </div>
</div>
