<!--menu-->
        <div class="menu" id="menu">
            <div class="container">
                <h2 class="sub-title">Menu</h2>

                <table id="customers">
                  <tr>
                    <th>Vegetables</th>
                    <th>Weight</th>
                    <th>Price (1Kg)</th>
                  </tr>
                  <tr>
                    <td>Brinjal</td>
                    <td>10 Kg</td>
                    <td>50 Rs</td>
                  </tr>
                  <tr>
                    <td> ladies' fingers</td>
                    <td>20 Kg</td>
                    <td>60 Rs</td>
                  </tr>
                  <tr>
                    <td>Tomato</td>
                    <td>15 Kg</td>
                    <td>30 Rs</td>
                  </tr>
                  <tr>
                    <td>Bitter gourd</td>
                    <td>20 Kg</td>
                    <td>40 Rs</td>
                  </tr>
                    <tr>
                    <td>Potato</td>
                    <td>10 Kg</td>
                    <td>80 Rs</td>
                  </tr>

                </table>

            </div>
        </div>

        <!--//menu-->
