<h2 class="page-header">Register</h2>
{{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
<form method="post" action="/users/register">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username"name="username">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="mail">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="Password">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="Password2">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="address" class="form-control" placeholder="address" name="address">
  </div>
  <div class="form-group">
    <label>Phone number</label>
    <input type="text" class="form-control" placeholder="phone number" name="phonenumber">
  </div>
  <div class="form-group">
    <label>Ic</label>
    <input type="ic" class="form-control" placeholder="ic" name="ic">
  </div>

  <button type="submit"class="btn btn-default">submit</button>
</form>
